.button__icon {
    background: none;
    border: none;
  }
  
  .icon__menu{
      font-size: 35px;
      cursor: pointer;
      color: #303030;
  }
  
  .background_header{
   background-color: #070720;
  }

  .logo-img{
    width: 100%;
    max-width: 150px;

    .img{
        width: 100%;
     }
  }
  