<section fxLayout="column" fxLayoutAlign="center start" [ngClass]="{'is-expanded__section': MenuOpened }">
  <div *ngIf="MenuOpened" (click)="onSideNavClick()">
    <a class="options__menu" >
      <mat-icon class="icon_size">home</mat-icon>
      <p routerLink="home">Home</p>
    </a>
    <a class="options__menu" >
      <mat-icon class="icon_size">storefront</mat-icon>
      <p routerLink="samplestore">Sample store</p>
    </a>   
    <a class="options__menu" >
      <mat-icon class="icon_size">person</mat-icon>
      <p>About</p>
    </a>   
  </div>
</section>
