<div fxLayout="row wrap" fxLayoutAlign="space-between center" class="container banner">

  <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxLayout="column"
    fxLayoutAlign="center center" class="banner__content">
    <h1 class="banner__title">Framework</h1>
    <h2 class="banner__subtitle">
      Um framework provê um template de base com diversas funções para facilitar a criação de um projeto, propondo
      soluções macro para um domínio específico, diferentemente de uma biblioteca em que somente a funcionalidade
      desejada
      pode ser requerida. Em um framework o trabalho ocorre da forma que o mesmo propõe e a pessoa que deseja usá-lo
      deve
      estar ciente e disposta a isso. <br> <br>
      Por ser específico, alguns frameworks demandam uma curva de aprendizado maiores que outros, um exemplo é o próprio
      Angular que tanto na versão anterior quanto na atual requerem um esforço do programador que o aplica.
    </h2>
    <h1 class="banner__title">Sobre Angular</h1>
    <h2 class="banner__subtitle">
      O projeto foi originalmente desenvolvido por Miško Hevery, em 2009, através da empresa Brat Tech LLC que, após um
      breve lançamento, optou por difundi-lo enquanto software livre (2010). <br>
      Sua principal característica que o diferencia dos outros frameworks é que ele pode funcionar como uma extensão do
      HTML e não é necessário manipular o DOM, ainda que o Angular possibilite isso. O que permite a criação de um
      front-end mais elaborado, sem precisar manusear diretamente o html e os dados.
    </h2>
    <button mat-flat-button class="button__primary" (click)="openVideoDialog()">
      <span class="material-icons"> play_circle_outline </span>
      OQUE É ANGULAR
    </button>
    <picture>
      <source
        type="image/png"
        srcset="../../../../assets/feature-search.png"
        alt="Pessoa Sorrindo"
        class="banner__image"
      />
      <img
        src="../../../../assets/feature-search.png"
        alt="Pessoa Sorrindo"
        class="banner__image"
      />
    </picture>
  </div>
</div>
